<form #valveSizeListForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header" style="background-color: beige;"><h4>Available Valve Sizes</h4></div>
      <div class="card-body">

        <div *ngFor="let item of valveSizes" class="mb-3">
          
           <div class="card" (click)="getDetails(item)">
            <div class="card-body">
            {{ item.Size }} {{ "hier komt of ie past of niet" }}
            </div>
           </div>
         
        </div>
       
        <button type="submit" class="btn btn-primary" (click)="Cancel()">Back</button>
      </div>
      <div class="card-footer"></div>
</div>
</div>
</form>
